@import url(reset.css);
@import url(style.css);


.card{
    border: none;
    border-radius: 20px;
}

.card-body{
    display: flex;
    align-items: center;
}

.card-details{
    padding-left: 10px;
}

.col{
    padding-left: 0 !important;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 14px;
    font-weight: 700;
    color: white;
    background-color: #E6E5FF;
}

.inputfile + label:hover{
    opacity: 80%;
    cursor: pointer;
}

.create-btn{
    background: #94C43A;
    color: #FFFFFF;
    border-radius: 12px;
    padding: 32px 12px;
}

.rounded-lg{
    border-radius: 16px;
}

.modal-content{
    padding: 10px;
    height: auto;
    max-height: 1000px;
}

.btn-container{
    padding: 12px;
    background: #EFF3F8;
    width: fit-content;
    border-radius: 16px;
}

.tab-btn{
    background: none;
    /* width: 100%; */
    height: 100%;
    border: none;
    padding: 14px 44px;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    color: #838D95;
    border-radius: 12px;
    cursor: pointer;
}

.tab-btn:focus{
    outline: none;
}

.tab-btn.active {
    background: #FFFFFF;
    color: #94C43A;
}

.content.active {
    display: block;
}

.content {
    display: none;
}